<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite  name="Suite">
<listeners>
<listener class-name="bhagya.TestComponents.Listeners"></listener>
</listeners>
  <test thread-count="5" name="Test">

<groups>
<run>
<include name="purchaseorder"></include>
</run>
</groups>
  <classes> 
   <class name="Demo.Launch">
  </class>
  </classes>
  </test> <!-- Test -->
 
</suite> <!-- Suite -->
